{% extends "base.html" %}
{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 5{% endblock %}
{# основной контент: #}
{% block main %}
    <h1>База знаний</h1>
    <div class="ka-block">
        <a href="/lab5/login"><button>Вход</button></a>
        <a href="/lab5/register"><button>Регистрация</button></a>
        <a href="/lab5/list"><button>Cписок статей</button></a>
        <a href="/lab5/create"><button>Cоздать статью</button></a>
        <div><i>{{ login if login else 'Anonymous' }}</i></div>
    </div>
{% endblock %}
{% block style %}
<style>
.ka-block {
    width: 80%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    border: 5px solid;
    border-radius: 20px;
    background: green;
    color: black;
    font-weight: bold;
}
button {
    border: 5px solid black;
    padding: 15px;
    color: white;
    width: 160px;
    background-color: blue;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}
button:hover {
    border-radius: 10px;
}
</style>
{% endblock %}