{% extends "base.html" %}
{% block lab %}Лабораторная работа 7{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
    .modal {
        display: none;
        background: #f9f9f9;
        width: 450px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        z-index: 1000;
        border: 1px solid #e0e0e0;
        animation: fadeIn 0.3s ease-in-out;
    }
    .error-message {
        color: red;
    }
    </style>
{% endblock %}
{% block main %}
<h1></h1>

<table>
    <thead>
        <tr>
            <th colspan="2">Название</th>
            <th>Год</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody id="film-list"></tbody>
</table>
<script>
    fillFilmList();
</script>
<div>
    <button onclick="addFilm()">Добавить фильм</button>
</div>

<div class="modal">
    <input type="hidden" id="id">
    <label>
        Название фильма на русском:
        <input type="text" id="title-ru">
    </label><br>
    <label>
        Название фильма на оригинальном языке
        <i>(если фильм русский, то оставьте пустым):</i>
        <input type="text" id="title">
    </label><br>
    <label>
        Год выпуска:
        <input type="number" id="year">
    </label><br>
    <label>
        Описание:
        <textarea id="description"></textarea>
        <div id="description-error" class="error-message"></div>
    </label><br>
    <button onclick="sendFilm()">ОК</button>
    <button onclick="cancel()">Отмена</button>
</div>
{% endblock %}